<?xml version="1.0"?>
<config version="2.1">
    <general>
        <drymode drymode="True|False">true</drymode>
        <loglevel loglevel="ERROR|WARNING|NOTICE|INFO|DEBUG">INFO</loglevel>
        <floodprotection>
            <silentPeriod>20</silentPeriod>
            <silenceRequired>false</silenceRequired>
            <expirePeriod>30</expirePeriod>
        </floodprotection>
        <email>
            <fromAddress/>
            <bounceAddress/>
        </email>
    </general>
    <id name="id">1</id>
    <api>
        <primaryUrl primaryUrl="http://vpn1.smsalarmering.nl/api/v2/jsonrpc/"/>
        <secondaryUrl secondaryUrl="http://new.smsalarmering.nl/api/v2/jsonrpc/"/>
        <username>glykortijn</username>
        <password>bob</password>
        <incomingSmsNumber incomingSmsNumber="+31642500091"/>
    </api>
    <actions>
        <action>
            <name>do something</name>
            <type>conference</type>
            <recipients>
                <number number="+3592342342"/>
                <locationid locationid="location id">123</locationid>
                <locationid locationid="location id">123</locationid>
                <contactid contactid="contact id">33</contactid>
                <contactid contactid="contact id">22</contactid>
                <groupid groupid="group id">33</groupid>
                <groupid groupid="group id">44</groupid>
                <tag tag="tag">4</tag>
            </recipients>
            <message>
                <priority>WARNING</priority>
                <requiredReceipt>WARNING</requiredReceipt>
                <modify>
                    <modify>lalal</modify>
                </modify>
                <voicecall>
                    <voiceMessageId>22</voiceMessageId>
                    <useTts>false</useTts>
                </voicecall>
            </message>
        </action>
    </actions>
    <espa>
        <enabled>1</enabled>
        <general>
            <option>
                <option name="name">toby</option>
            </option>
        </general>
        <rule>
            <name>uniqwe</name>
            <match what="pager">brood</match>
            <timeframe>
                <startTime>40</startTime>
                <endTime>50</endTime>
                <daysOfWeek>6</daysOfWeek>
                <actionReference>5</actionReference>
            </timeframe>
        </rule>
        <receiver file="file=/storage/espa-sdr/etc/espa-receiver.ini">
            <main>
                <pidFile>/storage/espa-sdr/var/espa-receiver.pid</pidFile>
                <sleepTime>6</sleepTime>
                <smscommand>/storage/bin/php -f /storage/espa-sdr/php/espa.php--</smscommand>
            </main>
            <heartbreak>
                <timeout>30</timeout>
                <statusfile>/storage/espa-sdr/log/heartbeat_status</statusfile>
                <intervalfile>/storage/espa-sdr/log/heartbeat_interval</intervalfile>
            </heartbreak>
            <logging>
                <verbosity>1</verbosity>
                <logfile>/storage/espa-sdr/log/espa-receiver.log</logfile>
            </logging>
            <communication>
                <port port="port default:/dev/ttyS2">/dev/ttyS2</port>
                <baudRate baudRate="baudRate default:9600">600</baudRate>
                <dataBits dataBits="dataBits default:8">8</dataBits>
                <parity parity="parity default:none">odd</parity>
            </communication>
        </receiver>
    </espa>
    <sdr>
        <enabled>1</enabled>
        <general>
            <option name="version">3</option>
            <option name="normalPinState">3</option>
            <option name="alertTimeout">dd</option>
            <option name="alertRepeatTimeout">dfff</option>
            <option name="activationTimeout">ffsd</option>
            <option name="fakeMode">eeff</option>
        </general>
        <pin>
            <number>22</number>
            <txt>11</txt>
            <timeframe>
                <startTime>3</startTime>
                <endTime>3</endTime>
                <daysOfWeek>33</daysOfWeek>
                <actionReference>3</actionReference>
            </timeframe>
        </pin>
    </sdr>
    <modem file="/storage/espa-sdr/etc/.gammurc">
        <port>22</port>
    </modem>
</config>
